/**** NEWS ****/
.news{
	min-height: 750px;
	padding-top: 50px;
}
.news-title{
	margin-bottom: 55px;
}
.news-sprite{
	background: url('/images/news-sprite.png');
}
.news .col-md-9{
	padding-left: 0px;
	padding-right: 0px;
}
.news .col-md-3{
	padding-right: 0px;
}
.news h2{
	margin-top: 0px;
}
.news h2{
	font-weight: 500;
	font-size: 13pt;
}
.news h2 a{
	color: #464646;
}
.news h2 a:hover{
	color: #d52e11;
}
.news-attribute{
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 7px 0 7px 0;
	margin-bottom: 10px;
}
.news-attribute a,
.yellow {
	color: #f7c016;
}
.read-more a{
	color: #959595;
}
.read-more a:hover,
.news-attribute a:hover{
	color: #d52e11;
}
/* Detail News */
.news-detail h2{
	color: #000000;
	font-size: 18pt;
}
.news-header{
	margin-bottom: 20px;
}
#media-object-full {
    width: 100%;
    height: 370px;
}
.news-detail #news-content img{
	max-width: 665px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.news-attribute .attribute-fence{
	margin-left: 12px;
	padding-left: 14px;
	border-left: 1px solid #ebebeb;
}
/*image of news*/
.news .media-object{
	width: 100%;
	height: 240px;
}
.news-tooltip span{
	position: absolute;
	top: 0;
	left: 30px;
	line-height: 33px;
	color: white;
}
.news-tooltip-arrow{
	width: 130px;
	height: 35px;
	position: absolute;
	top: 0;
	left: 5px;
    background-position: -24px 0px;
	z-index: 20px;
}
/*search box*/
#search-box{
	width: 228px;
	height: 35px;
	border: 1px solid #ebebeb;
}
.bs-docs-sidebar input[type=search]{
	width: 200px;
	background-color: transparent;
	border: none;
	padding: 7px 10px 5px 15px;
	font-size: 11pt;
}
.bs-docs-sidebar input[type=submit]{
    width: 17px;
    height: 17px;
	background-color: transparent;
	background-position: 0px 0px;
	border: none;
}
.sidebar-module h2{
	margin-top: 40px;
	margin-bottom: 0px;
	font-size: 13pt;
	color: black;
}
.bs-docs-sidenav{
	margin-bottom: 40px;
	padding-left: 0;
}
.bs-docs-sidenav  li{
	border-bottom: 1px solid #ebebeb;
}
.bs-docs-sidenav li:last-child{
	border-bottom: none;
}
.bs-docs-sidenav  .arrow-round{
	width: 11px;
	height: 13px;
	background-position: 0px -19px;
	display: inline-block;
	position: relative;
	left: -13px;
    top: 2px;
}
.bs-docs-sidenav  li:hover .arrow-round{
	background-position: -12px -19px;
}
.bs-docs-sidenav  li a{
	padding: 8px 0px 5px 14px;
	color: #959595;
}
.bs-docs-sidenav  li.active{
	color: #d42c0e;
	background: transparent;
}
.bs-docs-sidenav  li.active .arrow-round{
	background-position: -12px -19px;
}
.bs-docs-sidenav  li a:hover{
	color: #d42c0e;
	background: transparent;
}
/*menu tab*/
#sidebar-tab{
	padding:0px;
}
#sidebar-tab li{
	width: 50%;
	background: #fafafa;
	border-top: 1px solid #ebebeb;
	font-size: 14px;
}
#sidebar-tab li a{
	width: 100%;
	border-radius: 0;
	color: black;
	text-align: center;
}
#sidebar-tab .active > a{
	border-top: 2px solid #d42c0e;
	color: #d42c0e;
}
#popular-tab{
	border-left: 0;
}
#recent-tab{
	border-right: 0;
}
#sidebar-tab .active{
	position: relative;
	top: -2px;
}
#menu-tab{
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.news .tab-content{
	padding-left: 10px;
	padding-right: 10px;
}
.news .tab-pane .row{
	margin: 0px;
	padding-top: 12px;
	border-bottom: 1px solid #ebebeb;
}
.news .tab-pane .row:last-child{
	border-bottom: none;
}
.tab-pane > div{
	border: 0px;
}

@media screen and (min-width: 1000px){
	.media:hover .image-hover{
		width: 349px;
		height: 240px;
		background-color: #D42C0E;
		background-image: url('../images/news/plus.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		position: absolute;
		top: 0px;
		opacity: 0.35;
	}
	.media:hover .news-tooltip-arrow{
	    background-position: -24px -35px;
	}
}